.container {
}

.header__title {
  margin-right: 25px !important;
  display: block;
}

.header__status {
  margin-left: auto !important;
}

.header__link {
  margin-right: 25px !important;
}

.page-title {
  margin-bottom: 25px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.header__status-text {
  color: #fff;
  margin: 0;
  margin-left: auto;
}
